*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: sans-serif;
}

/*notfound*/
.notfound {
  margin-top: 16rem;
}
.notfound__heading {
  font-size: 6.2rem;
  text-align: center;
  opacity: 0.7;
  font-weight: 200;
  margin-bottom: 4rem;
}
.notfound__paragraph {
  font-size: 1.8rem;
  text-align: center;
  margin-bottom: 14rem;
}

/* grid*/
.row {
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.col-1-of-2 {
  width: 100%;
}
.col-1-of-3 {
  width: 100%;
}
.col-2-of-3 {
  width: 100%;
}
.col-1-of-4 {
  width: 100%;
}
.col-2-of-4 {
  width: 100%;
}

/* navbar*/
.navbar {
  width: 100%;
}

.navbar__top {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 10rem;
  background-color: #181818;
}

.navbar__top__logo__link {
  font-size: 2.8rem;
  color: #fff;
  text-decoration: none;
  margin-left: 2rem;
}

.navbar__bottom__item {
  list-style: none;
}

.navbar__bottom__item__link {
  font-size: 1.8rem;
  color: #fff;
  text-decoration: none;
}

.navbar__bottom__item__link:hover {
  color: #fe4066;
}

/*home*/

.listingform {
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.home__form {
  /* margin-top: 4rem; */
  /* margin-bottom: 6rem; */
}

.home__listings {
  /* margin-bottom: 4rem; */
}

.home__pagination {
  /* margin-bottom: 6rem; */
}

/*listingform */
.listingform__section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.listingform__altsection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}

.listingform__label {
  font-size: 1.8rem;
  color: #181818;
  margin-bottom: 0.8rem;
}

.listingform__select {
  font-size: 1.6rem;
  width: 100%;
  height: 3rem;
  outline: none;
  margin-bottom: 1.5rem;
}

.listingform__input {
  width: 100%;
  height: 3rem;
  font-size: 1.6rem;
  padding: 0.5rem 0.8rem;
  outline: none;
}

.listingform__checkbox {
  margin-right: 1rem;
  margin-bottom: 0.5rem;
}

.listingform__button {
  padding: 1rem 2rem;
  font-size: 1.8rem;
  color: #fff;
  margin-top: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0.1rem 0.2rem 0.3rem rgb(0, 0, 0, 0.2);
  cursor: pointer;
  border: none;
  outline: none;
}

.listingform__button:hover {
  background-color: #fe4066;
}

.listingform__button--primary {
  background-color: #181818;
}

.listingform__loader {
  padding-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*card */
.card {
  padding: 4rem 3rem;
  background-color: #efefef;
  border-radius: 0.5rem;
  margin: 2rem;
  height: auto;
}

.card__header {
  width: 100%;
}

.card__header__photo {
  width: 100%;
}

.card__title {
  color: #181818;
  font-size: 2.4rem;
  margin-bottom: 2rem;
}

.card__location {
  font-size: 1.4rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.card__info {
  font-size: 1.6rem;
  color: #181818;
  margin-bottom: 0.5rem;
}

.card__saletype {
  font-size: 1.6rem;
  color: #181818;
}

.card__hometype {
  font-size: 1.6rem;
  color: #181818;
  margin-bottom: 0.5rem;
}

.card__sqft {
  font-size: 1.4rem;
}

.card__link {
  font-size: 1.6rem;
  color: #181818;
  padding: 0.5rem 1rem;
  border: 0.1rem solid #181818;
  text-decoration: none;
  outline: none;
}

.card__link:hover {
  color: #fff;
  background-color: #fe4066;
  border: none;
}

/*pagination */
.pagination__number {
  display: inline-block;
  font-size: 1.6rem;
  padding: 1rem;
  color: #181818;
  border: 0.1rem solid #181818;
  cursor: pointer;
  margin: 0.1rem;
  user-select: none;
  overflow-x: hidden;
}

.pagination__number--active {
  color: #fff;
  background-color: #181818;
}

.pagination__number:hover {
  color: #fff;
  background-color: #181818;
}

/*listingdetail */
.listingdetail {
  padding-bottom: 4rem;
}

.listingdetail__header {
  background-color: #181818;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;
}

.listingdetail__title {
  font-size: 3.2rem;
  color: #fff;
  margin-bottom: 2rem;
  font-weight: 200;
}

.listingdetail__location {
  font-size: 2rem;
  color: #fff;
  font-weight: 200;
}

.listingdetail__breadcrumb {
  background-color: #efefef;
  padding: 3rem 4rem;
  font-size: 1.6rem;
  margin-bottom: 2rem;
  width: 100%;
}

.listingdetail__breadcrumb__link {
  color: #181818;
  text-decoration: none;
}

.listingdetail__breadcrumb__link:hover {
  color: #fe4066;
}

.listingdetail__display {
  width: 100%;
}

.listing__items {
  margin: 2rem;
}

.listingdetail__display__image {
  width: 100%;
  height: auto;
}

.listingdetail__description {
  font-size: 1.8rem;
}

.listingdetail__contact {
  font-size: 1.6rem;
  color: #181818;
}

.listingdetail__about {
  font-size: 1.6rem;
  margin-top: 1rem;
}

.listingdetail__list {
  list-style: none;
  font-size: 1.6rem;
  color: #181818;
}

.listingdetail__list__item {
  margin-bottom: 1rem;
}

/*listings */
.listingform {
  background-image: url("imgs/search_bg.jpg");
  background-size: cover;
  background-repeat: none;
  height: 100vh;
  width: 100vw;
}

.listings__form {
  margin-top: 4rem;
}

.listings__listings {
  /* margin-top: 6rem;
  margin-bottom: 4rem; */
}

.listings__pagination {
  margin-bottom: 6rem;
}

.listings_header {
  display: flex;
  align-items: center;
  padding-top: 1rem;
}

.listings_header_hr {
  width: 44.5%;
}

/*about */
.about__header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
}

.about__info {
  margin-top: 2rem;
}

.about__team {
  margin-top: 4rem;
  margin-bottom: 6rem;
}

.about__heading {
  font-size: 2.2rem;
  color: #181818;
  font-weight: 200;
}

.about__subheading {
  font-size: 2.2rem;
  color: #181818;
  font-weight: 200;
  margin-bottom: 1rem;
  padding: 1rem;
}

.about__paragraph {
  font-size: 1.6rem;
  color: #4a4a4a;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;
}

.about__display {
  width: 100%;
}

.about__display__image {
  height: 40rem;
  width: 100%;
  padding: 1rem;
}

.about__display__image__house {
  width: 100%;
}

/*landing*/

.landing_hero {
  width: 100%;
  height: 100vh;
}

.landing_description {
  height: 20rem;
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  background: rgba(75, 75, 75, 0.7);
  color: white;
  text-align: center;

  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.landing_offers {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-around;
  padding-top: 2rem;
}

.landing_offers hr {
  color: black;
  width: 42%;
}
.landing_cards {
  width: 100%;
  height: 42rem;
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.landing_card {
  height: 40rem;
  width: 40rem;
  padding: 5rem;
}

.landing_card_img {
  width: 100%;
  height: 100%;
  margin-bottom: 2rem;
}

.landing_search {
  width: 20rem;
  height: 5rem;
  border-radius: 5rem;
  color: white;
  background-color: #fe4066;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 0;
  outline: none;
  cursor: pointer;
  margin-bottom: 3rem;
}

.landing_search_link {
  text-decoration: none;
}

/*footer*/
.footer {
  height: 10rem;
  background-color: #181818;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
}

.footer__logo {
  display: flex;
  align-items: center;
}

.footer__image {
  height: 6rem;
  width: 15rem;
  border-radius: 0.5rem;
}

.footer__heading {
  margin-left: 2rem;
}

.footer__copyright {
  font-size: 2rem;
}

/*contact*/
.contact {
  display: flex;
}

.contact__top {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10rem;
}

.contact__top__h1 {
  font-size: 3rem;
  color: #181818;
  margin-bottom: 2rem;
}

.contact__top__paragraph {
  font-size: 1.6rem;
  margin: 1rem;
  margin-bottom: 2rem;
}
.contact__top__section {
  display: flex;
  flex-direction: row;
}

.contact__top__section__img {
  width: 3rem;
  height: 3rem;
}

.contact__bottom {
  width: 50%;
}
.contact__bottom__image {
  height: 100vh;
  width: 100%;
}

/*about */
.about {
  background-size: cover;
  height: 100%;
  flex: 1 0 auto;
}
.about__header {
  padding: 1rem 0;
  text-align: center;
}

.about__heading {
  font-size: 3.2rem;
  color: #181818;
  font-weight: 200;
}

.about__us__image {
  height: 40rem;
  width: 40rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
}

.about__info {
  margin-top: 2rem;
}

.about__subheading {
  font-size: 2.2rem;
  color: #181818;
  font-weight: 200;
  text-align: center;
  margin-bottom: 1rem;
  padding: 1rem;
}

.about__paragraph {
  font-size: 1.6rem;
  margin-top: 1rem;
  padding: 1rem;
}

/* ####################################################################################### */
@media screen and (max-width: 600px) {
  *,
  *::after,
  *::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }

  html {
    font-size: 62.5%;
  }

  body {
    box-sizing: border-box;
    font-family: sans-serif;
  }

  /*notfound*/
  .notfound {
    margin-top: 16rem;
  }
  .notfound__heading {
    font-size: 6.2rem;
    text-align: center;
    opacity: 0.7;
    font-weight: 200;
    margin-bottom: 4rem;
  }
  .notfound__paragraph {
    font-size: 1.8rem;
    text-align: center;
    margin-bottom: 14rem;
  }

  /* grid*/
  .row {
    max-width: 114rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .col-1-of-2 {
    width: 100%;
  }
  .col-1-of-3 {
    width: 100%;
  }
  .col-2-of-3 {
    width: 100%;
  }
  .col-1-of-4 {
    width: 100%;
  }
  .col-2-of-4 {
    width: 100%;
  }

  /* navbar*/
  .navbar {
    width: 100%;
  }

  .navbar__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10rem;
    background-color: #181818;
  }

  .navbar__top__logo__link {
    font-size: 2.8rem;
    color: #fff;
    text-decoration: none;
    margin-left: 2rem;
  }

  .navbar__bottom__item {
    display: none;
    list-style: none;
  }

  .navbar__bottom__item__link {
    font-size: 1.8rem;
    color: #fff;
    text-decoration: none;
  }

  .navbar__bottom__item__link:hover {
    color: #fe4066;
  }

  /*home*/

  .listingform {
    background-image: url("imgs/search_bg.jpg");
    background-size: cover;
    background-repeat: none;
    height: 100vh;
    width: 100%;
    margin-top: 0;
    padding: 0;
  }

  .listingform {
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  /* .home__form {
    margin-top: 4rem;
    margin-bottom: 6rem;
  }

  .home__listings {
    margin-bottom: 4rem;
  }

  .home__pagination {
    margin-bottom: 6rem;
  } */

  /*listingform */
  .listingform__section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .listingform__altsection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
  }

  .listingform__label {
    font-size: 2rem;
    color: black;
    font-weight: 500;
    margin-bottom: 0.8rem;
  }

  .listingform__select {
    font-size: 1.6rem;
    width: 100%;
    height: 3rem;
    outline: none;
    margin-bottom: 1.5rem;
  }

  .listingform__input {
    width: 100%;
    height: 3rem;
    font-size: 1.6rem;
    padding: 0.5rem 0.8rem;
    outline: none;
  }

  .listingform__checkbox {
    margin-right: 1rem;
    margin-bottom: 0.5rem;
  }

  .listingform__button {
    padding: 1rem 2rem;
    font-size: 1.8rem;
    color: #fff;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0.1rem 0.2rem 0.3rem rgb(0, 0, 0, 0.2);
    cursor: pointer;
    border: none;
  }

  .listingform__button:hover {
    background-color: #fe4066;
  }

  .listingform__button--primary {
    background-color: #181818;
  }

  .listingform__loader {
    padding-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /*card */
  .card {
    padding: 4rem 3rem;
    background-color: #efefef;
    border-radius: 0.5rem;
    margin: 2rem;
    height: auto;
  }

  .card__header {
    width: 100%;
  }

  .card__header__photo {
    width: 100%;
  }

  .card__title {
    color: #181818;
    font-size: 2.4rem;
    margin-bottom: 2rem;
  }

  .card__location {
    font-size: 1.4rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .card__info {
    font-size: 1.6rem;
    color: #181818;
    margin-bottom: 0.5rem;
  }

  .card__saletype {
    font-size: 1.6rem;
    color: #34eb49;
    margin-bottom: 0.5rem;
  }

  .card__hometype {
    font-size: 1.6rem;
    color: #181818;
    margin-bottom: 0.5rem;
  }

  .card__sqft {
    font-size: 1.4rem;
    margin-bottom: 2rem; /*to be removed */
  }

  .card__link {
    font-size: 1.6rem;
    color: #181818;
    padding: 1rem 1.5rem;
    border: 0.1rem solid #181818;
    text-decoration: none;
  }

  .card__link:hover {
    color: #fff;
    border: 0.1 solid #181818;
    background-color: #181818;
  }

  /*pagination */
  .pagination__number {
    display: inline-block;
    font-size: 1.6rem;
    padding: 1rem;
    color: #181818;
    border: 0.1rem solid #181818;
    cursor: pointer;
    margin: 0.1rem;
    user-select: none;
    overflow-x: hidden;
  }

  .pagination__number--active {
    color: #fff;
    background-color: #181818;
  }

  .pagination__number:hover {
    color: #fff;
    background-color: #181818;
  }

  /*listingdetail */
  .listingdetail {
    padding-bottom: 4rem;
  }

  .listingdetail__header {
    background-color: #181818;
    padding-top: 2rem;
    padding-bottom: 4rem;
    text-align: center;
  }

  .listingdetail__title {
    font-size: 3rem;
    color: #fff;
    margin-bottom: 2rem;
    font-weight: 200;
  }

  .listingdetail__location {
    font-size: 2rem;
    color: #fff;
    font-weight: 200;
  }

  .listingdetail__breadcrumb {
    background-color: #efefef;
    padding: 3rem 4rem;
    font-size: 1.6rem;
    margin-bottom: 2rem;
    width: 100%;
  }

  .listingdetail__breadcrumb__link {
    color: #181818;
    text-decoration: none;
  }

  .listingdetail__breadcrumb__link:hover {
    color: #fe4066;
  }

  .listingdetail__display {
    width: 100%;
  }

  .listing__items {
    margin: 2rem;
  }

  .listingdetail__display__image {
    width: 100%;
  }

  .listingdetail__realtor {
    font-size: 2.4rem;
    color: #181818;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  .listingdetail__contact {
    font-size: 1.6rem;
    color: #181818;
  }

  .listingdetail__about {
    font-size: 1.6rem;
    margin-top: 1rem;
  }

  .listingdetail__list {
    list-style: none;
    font-size: 1.6rem;
    color: #181818;
  }

  .listingdetail__list__item {
    margin-bottom: 1rem;
  }

  .listingdetail__description {
    font-size: 1.6rem;
  }

  .listingform {
    background-image: url("imgs/search_bg2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 120vw;
  }

  /*listings */
  .listings__form {
    margin-top: 4rem;
  }

  .listings__listings {
    /* margin-top: 6rem;
    margin-bottom: 4rem; */
  }

  .listings__pagination {
    margin-bottom: 6rem;
  }

  .listings_header {
    display: flex;
    align-items: center;
    padding-top: 1rem;
  }

  .listings_header_hr {
    width: 33%;
  }
  /*about */
  .about__header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
  }

  .about__info {
    margin-top: 2rem;
  }

  .about__team {
    margin-top: 4rem;
    margin-bottom: 6rem;
  }

  .about__heading {
    font-size: 2.2rem;
    color: #181818;
    font-weight: 200;
  }

  .about__subheading {
    font-size: 2.2rem;
    color: #181818;
    font-weight: 200;
    margin-bottom: 1rem;
    padding: 1rem;
  }

  .about__paragraph {
    font-size: 1.6rem;
    color: #4a4a4a;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
  }

  .about__display {
    width: 100%;
  }

  .about__display__image {
    height: 40rem;
    width: 100%;
    padding: 1rem;
  }

  .about__display__image__house {
    width: 100%;
  }

  /*landing*/

  .landing_hero {
    width: 100%;
    height: 70vh;
  }

  .landing_description {
    height: auto;
    width: 90%;
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    background: rgba(75, 75, 75, 0.7);
    color: white;
    text-align: center;

    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .landing_offers {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
    padding-top: 2rem;
  }

  .landing_offers hr {
    color: black;
    width: 30%;
  }

  .landing_cards {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
  }

  .landing_card {
    height: 100%;
    width: 100%;
    padding: 2rem;
  }

  .landing_card_img {
    width: 100%;
    height: 100%;
    margin-bottom: 2rem;
  }

  .landing_search {
    width: 20rem;
    height: 5rem;
    border-radius: 5rem;
    color: white;
    background-color: #fe4066;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 0;
    outline: none;
    cursor: pointer;
    margin-bottom: 2rem;
  }

  .landing_search_link {
    text-decoration: none;
  }

  /*footer*/
  .footer {
    height: 20rem;
    background-color: #181818;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    width: 100%;
  }

  .footer__logo {
    display: flex;
    align-items: center;
  }

  .footer__image {
    height: 6rem;
    width: 10rem;
    border-radius: 0.5rem;
  }

  .footer__heading {
    margin-left: 2rem;
  }

  .footer__copyright {
    font-size: 2rem;
  }

  /*contact*/
  .contact {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
  }

  .contact__top {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-x: hidden;
    margin: 10rem;
  }

  .contact__top__h1 {
    font-size: 3rem;
    color: #181818;
    margin-bottom: 2rem;
  }

  .contact__top__paragraph {
    font-size: 1.6rem;
    margin: 1rem;
    margin-bottom: 2rem;
  }
  .contact__top__section {
    display: flex;
    flex-direction: row;
    width: 100%;
    overflow: hidden;
  }

  .contact__top__section__img {
    width: 3rem;
    height: 3rem;
  }

  .contact__bottom {
    width: 100%;
  }
  .contact__bottom__image {
    height: 100%;
    width: 100%;
  }

  /*about */
  .about {
    background-size: cover;
    height: 100%;
    flex: 1 0 auto;
  }
  .about__header {
    padding: 1rem 0;
    text-align: center;
  }

  .about__heading {
    font-size: 3.2rem;
    color: #181818;
    font-weight: 200;
  }

  .about__us__image {
    height: 30rem;
    width: 30rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
  }

  .about__info {
    margin-top: 2rem;
  }

  .about__subheading {
    font-size: 2.2rem;
    color: #181818;
    font-weight: 200;
    text-align: center;
    margin-bottom: 1rem;
    padding: 1rem;
  }

  .about__paragraph {
    font-size: 1.6rem;
    margin-top: 1rem;
    padding: 1rem;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-device-width: 1024px) {
  *,
  *::after,
  *::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }

  html {
    font-size: 62.5%;
  }

  body {
    box-sizing: border-box;
    font-family: sans-serif;
  }

  /*notfound*/
  .notfound {
    margin-top: 16rem;
  }
  .notfound__heading {
    font-size: 6.2rem;
    text-align: center;
    opacity: 0.7;
    font-weight: 200;
    margin-bottom: 4rem;
  }
  .notfound__paragraph {
    font-size: 1.8rem;
    text-align: center;
    margin-bottom: 14rem;
  }

  /* grid*/
  .row {
    max-width: 114rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .col-1-of-2 {
    width: 100%;
  }
  .col-1-of-3 {
    width: 100%;
  }
  .col-2-of-3 {
    width: 100%;
  }
  .col-1-of-4 {
    width: 100%;
  }
  .col-2-of-4 {
    width: 100%;
  }

  /* navbar*/
  .navbar {
    width: 100%;
  }

  .navbar__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10rem;
    background-color: #181818;
  }

  .navbar__top__logo__link {
    font-size: 2.8rem;
    color: #fff;
    text-decoration: none;
    margin-left: 2rem;
  }

  .navbar__bottom__item {
    display: none;
    list-style: none;
  }

  .navbar__bottom__item__link {
    font-size: 1.8rem;
    color: #fff;
    text-decoration: none;
  }

  .navbar__bottom__item__link:hover {
    color: #fe4066;
  }

  /*home*/

  .listingform {
    background-image: url("imgs/search_bg.jpg");
    background-size: contain;
    background-repeat: none;
    height: 120vh;
    width: 100%;
  }

  .listingform {
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  /* .home__form {
    margin-top: 4rem;
    margin-bottom: 6rem;
  }

  .home__listings {
    margin-bottom: 4rem;
  }

  .home__pagination {
    margin-bottom: 6rem;
  } */

  /*listingform */
  .listingform__section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .listingform__altsection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
  }

  .listingform__label {
    font-size: 2rem;
    color: black;
    font-weight: 500;
    margin-bottom: 0.8rem;
  }

  .listingform__select {
    font-size: 1.6rem;
    width: 100%;
    height: 3rem;
    outline: none;
    margin-bottom: 1.5rem;
  }

  .listingform__input {
    width: 100%;
    height: 3rem;
    font-size: 1.6rem;
    padding: 0.5rem 0.8rem;
    outline: none;
  }

  .listingform__checkbox {
    margin-right: 1rem;
    margin-bottom: 0.5rem;
  }

  .listingform__button {
    padding: 1rem 2rem;
    font-size: 1.8rem;
    color: #fff;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0.1rem 0.2rem 0.3rem rgb(0, 0, 0, 0.2);
    cursor: pointer;
    border: none;
  }

  .listingform__button:hover {
    background-color: #fe4066;
  }

  .listingform__button--primary {
    background-color: #181818;
  }

  .listingform__loader {
    padding-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /*card */
  .card {
    padding: 4rem 3rem;
    background-color: #efefef;
    border-radius: 0.5rem;
    margin: 2rem;
    height: auto;
  }

  .card__header {
    width: 100%;
  }

  .card__header__photo {
    width: 100%;
  }

  .card__title {
    color: #181818;
    font-size: 2.4rem;
    margin-bottom: 2rem;
  }

  .card__location {
    font-size: 1.4rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .card__info {
    font-size: 1.6rem;
    color: #181818;
    margin-bottom: 0.5rem;
  }

  .card__saletype {
    font-size: 1.6rem;
    color: #34eb49;
    margin-bottom: 0.5rem;
  }

  .card__hometype {
    font-size: 1.6rem;
    color: #181818;
    margin-bottom: 0.5rem;
  }

  .card__sqft {
    font-size: 1.4rem;
    margin-bottom: 2rem; /*to be removed */
  }

  .card__link {
    font-size: 1.6rem;
    color: #181818;
    padding: 1rem 1.5rem;
    border: 0.1rem solid #181818;
    text-decoration: none;
  }

  .card__link:hover {
    color: #fff;
    border: 0.1 solid #181818;
    background-color: #181818;
  }

  /*pagination */
  .pagination__number {
    display: inline-block;
    font-size: 1.6rem;
    padding: 1rem;
    color: #181818;
    border: 0.1rem solid #181818;
    cursor: pointer;
    margin: 0.1rem;
    user-select: none;
    overflow-x: hidden;
  }

  .pagination__number--active {
    color: #fff;
    background-color: #181818;
  }

  .pagination__number:hover {
    color: #fff;
    background-color: #181818;
  }

  /*listingdetail */
  .listingdetail {
    padding-bottom: 4rem;
  }

  .listingdetail__header {
    background-color: #181818;
    padding-top: 2rem;
    padding-bottom: 4rem;
    text-align: center;
  }

  .listingdetail__title {
    font-size: 3rem;
    color: #fff;
    margin-bottom: 2rem;
    font-weight: 200;
  }

  .listingdetail__location {
    font-size: 2rem;
    color: #fff;
    font-weight: 200;
  }

  .listingdetail__breadcrumb {
    background-color: #efefef;
    padding: 3rem 4rem;
    font-size: 1.6rem;
    margin-bottom: 2rem;
    width: 100%;
  }

  .listingdetail__breadcrumb__link {
    color: #181818;
    text-decoration: none;
  }

  .listingdetail__breadcrumb__link:hover {
    color: #fe4066;
  }

  .listingdetail__display {
    width: 100%;
  }

  .listing__items {
    margin: 2rem;
  }

  .listingdetail__display__image {
    width: 100%;
  }

  .listingdetail__realtor {
    font-size: 2.4rem;
    color: #181818;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  .listingdetail__contact {
    font-size: 1.6rem;
    color: #181818;
  }

  .listingdetail__about {
    font-size: 1.6rem;
    margin-top: 1rem;
  }

  .listingdetail__list {
    list-style: none;
    font-size: 1.6rem;
    color: #181818;
  }

  .listingdetail__list__item {
    margin-bottom: 1rem;
  }

  .listingdetail__description {
    font-size: 1.6rem;
  }

  .listingform {
    background-image: url("imgs/search_bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 75vh;
    width: 100vw;
  }

  /*listings */
  .listings__form {
    margin-top: 4rem;
  }

  .listings__listings {
    /* margin-top: 6rem;
    margin-bottom: 4rem; */
  }

  .listings__pagination {
    margin-bottom: 6rem;
  }

  .listings_header {
    display: flex;
    align-items: center;
    padding-top: 1rem;
  }

  .listings_header_hr {
    width: 42%;
  }
  /*about */
  .about__header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
  }

  .about__info {
    margin-top: 2rem;
  }

  .about__team {
    margin-top: 4rem;
    margin-bottom: 6rem;
  }

  .about__heading {
    font-size: 2.2rem;
    color: #181818;
    font-weight: 200;
  }

  .about__subheading {
    font-size: 2.2rem;
    color: #181818;
    font-weight: 200;
    margin-bottom: 1rem;
    padding: 1rem;
  }

  .about__paragraph {
    font-size: 1.6rem;
    color: #4a4a4a;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
  }

  .about__display {
    width: 100%;
  }

  .about__display__image {
    height: 40rem;
    width: 100%;
    padding: 1rem;
  }

  .about__display__image__house {
    width: 100%;
  }

  /*landing*/

  .landing_hero {
    width: 100%;
    height: 70vh;
  }

  .landing_description {
    height: auto;
    width: 90%;
    display: flex;
    align-items: center;
    font-size: 1.8rem;
    background: rgba(75, 75, 75, 0.7);
    color: white;
    text-align: center;

    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .landing_offers {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
    padding-top: 2rem;
  }

  .landing_offers hr {
    color: black;
    width: 30%;
  }

  .landing_cards {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
  }

  .landing_card {
    height: 100%;
    width: 100%;
    padding: 2rem;
  }

  .landing_card_img {
    width: 100%;
    height: 100%;
    margin-bottom: 2rem;
  }

  .landing_search {
    width: 28rem;
    height: 8rem;
    border-radius: 5rem;
    color: white;
    font-size: 2rem;
    background-color: #fe4066;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 0;
    outline: none;
    cursor: pointer;
    margin-bottom: 2rem;
  }

  .landing_search_link {
    text-decoration: none;
  }

  /*footer*/
  .footer {
    height: 20rem;
    background-color: #181818;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    width: 100%;
  }

  .footer__logo {
    display: flex;
    align-items: center;
  }

  .footer__image {
    height: 6rem;
    width: 10rem;
    border-radius: 0.5rem;
  }

  .footer__heading {
    margin-left: 2rem;
  }

  .footer__copyright {
    font-size: 2rem;
  }

  /*contact*/
  .contact {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
  }

  .contact__top {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10rem;
    overflow: hidden;
  }

  .contact__top__h1 {
    font-size: 3rem;
    color: #181818;
    margin-bottom: 2rem;
  }

  .contact__top__paragraph {
    font-size: 1.6rem;
    margin: 1rem;
    margin-bottom: 2rem;
  }
  .contact__top__section {
    display: flex;
    flex-direction: row;
    width: 100%;
    overflow: hidden;
  }

  .contact__top__section__img {
    width: 3rem;
    height: 3rem;
  }

  .contact__bottom {
    width: 100%;
  }
  .contact__bottom__image {
    height: 100%;
    width: 100%;
  }

  /*about */
  .about {
    background-size: cover;
    height: 100%;
    flex: 1 0 auto;
  }
  .about__header {
    padding: 1rem 0;
    text-align: center;
  }

  .about__heading {
    font-size: 3.2rem;
    color: #181818;
    font-weight: 200;
  }

  .about__us__image {
    height: 40rem;
    width: 40rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
  }

  .about__info {
    margin-top: 2rem;
  }

  .about__subheading {
    font-size: 2.2rem;
    color: #181818;
    font-weight: 200;
    text-align: center;
    margin-bottom: 1rem;
    padding: 1rem;
  }

  .about__paragraph {
    font-size: 1.6rem;
    margin-top: 1rem;
    padding: 1rem;
  }
}
